.cardControl {
  text-align: center;

  margin-bottom: 20px;
}

.cardControl__button {
  height: 20px;
  width: 20px;
  background: none;
  border: none;
  margin: 0 15px;
}

.cardControl__button:active {
  transform: translateY(-2px);
}
