.searchBar {
  display: flex;
  width: 100%;
  margin-bottom: 3.2rem;
}

.searchBar__input {
  border: 1px solid #e2e8f0;
  height: 2.9rem;
  background-color: #f8fafc;
  flex: 2 1 auto;
}

.searchBar__button {
  background-color: #06b6d4;
  padding: 7px 20px;
  box-shadow: 0 1px 2px #0000000f, 0 1px 3px #0000001a;
  border: none;
  color: #ffffff;
  font-size: 1.3rem;
}
