.article {
  border: 2px solid #e2e8f0;
  padding: 1.8rem 2.6rem;
  box-shadow: 0 4px 6px -2px #0000000d, 0 10px 15px -3px #0000001a; /* x, y, blur-radius, spread-radius, color */
  background-color: white;
  font-family: "Roboto", serif;
  margin-bottom: 2rem;
}

.article__heading {
  font-size: 1.4rem;
  line-height: 3rem;
  color: #334155;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__button {
  background-color: #164e63;
  height: 3.2rem;
  width: 3.2rem;
  padding: 0;
  border: none;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article__para {
  font-size: 1.4em;
  line-height: 3rem;
  color: #334144;
  margin-top: 1.7rem;
}
