.listItem {
  display: flex;
  align-items: center;
}

.listItem__checkbox {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 2px;
  border: 1px solid #767676;
  margin-right: 1.6rem;
}

.listItem__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: #0f172a;
}
