body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
  margin: 0 auto;
  padding: 30px 20px;
  max-width: 400px;
}

.header {
  display: flex;
}

.header__img {
  height: 80px;
}

.main__heading {
  margin-top: 50px;
}

.main__list-item {
  margin-bottom: 10px;
}
