.card {
  display: flex;
  flex-direction: column;
  font-family: "Robot", sans-serif;
}

.card__heading {
  font-size: 3.2rem;
  color: #0f172a;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.card__company {
  background-color: #cbd5e1;
  padding: 0.6rem 1.2rem;
  width: 10.3rem;
  text-align: center;
  font-size: 1.6rem;
  color: #334155;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.card__dates {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #64748b;
  margin-bottom: 3.2rem;
}

.card__item {
  background-image: url("./icon.png");
  background-repeat: no-repeat;
  background-size: 1.6rem 1.6rem;
  padding-left: 4.8rem;
  background-position: left center;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #64748b;
  list-style: none;
  margin-bottom: 1.8rem;
}
